<div class="container">
    <Form class="login-form">
        <div class="enter">Вход</div>
        {{> Input label="Логин" title="login"}}
        {{> Input label="Пароль" title="password"}}
        <div class="buttons">
            {{> Button label="Авторизоваться" type="primary" }}
            {{> Button label="Нет аккаунта?" type="link" }}
        </div>
    </Form>
</div>
