<ul>
  <li><a href="#" page="login">Login</a></li>
  <li><a href="#" page="registration">Registration</a></li>
  <li><a href="#" page="chat">Chat Page</a></li>
  <li><a href="#" page="chatEmpty">Chat Empty</a></li>
  <li><a href="#" page="chatAddUser">Chat Add User</a></li>
  <li><a href="#" page="chatRemoveUser">Chat Remove User</a></li>
  <li><a href="#" page="userPage">User Page</a></li>
  <li><a href="#" page="userPageEdit">User Page Edit</a></li>
  <li><a href="#" page="userPageUploadFile">User Page Upload File Modal</a></li>
  <li><a href="#" page="userPageUploadFileNotSelected">User Page Upload File
      Modal Not Selected</a></li>
  <li><a href="#" page="userPageUploadFileFinish">User Page Upload File Modal
      Finish</a></li>
  <li><a href="#" page="userPageUploadFileError">User Page Upload File Modal
      Error</a></li>
  <li><a href="#" page="notFound">Not Found</a></li>
  <li><a href="#" page="serverError">Server Error</a></li>
</ul>