<ul>
  <li><a href="#" page="login">Login</a></li>
  <li><a href="#" page="registration">Registration</a></li>
  <li><a href="#" page="notFound">NotFound</a></li>
  <li><a href="#" page="serverError">ServerError</a></li>
  <li><a href="#" page="chat">ChatPage</a></li>
  <li><a href="#" page="chatEmpty">ChatEmpty</a></li>
  <li><a href="#" page="chatAddUser">ChatAddUser</a></li>
  <li><a href="#" page="chatRemoveUser">ChatRemoveUser</a></li>
  <li><a href="#" page="userPage">UserPage</a></li>
  <li><a href="#" page="userPageEdit">UserPageEdit</a></li>
</ul>