.registration__container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.container__login {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.registration__header {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  align-self: center;
}

.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 340px;
  height: 615px;
  box-shadow: 0 0 6px 0 #00000024;
  border-radius: 12px;
}

.registration__form__login {
  height: 450px;
}

.registration__buttons {
  margin-top: auto;
}
