.side_item__container {
  display: flex;
  height: 70px;
  padding-top: 12px;
  padding-inline: 10px;
  position: relative;
  ::after {
    content: "";
    width: 1px;
    height: 290px;
    background-color: var(--borders-primary-color);
    rotate: 90deg;
    position: absolute;
    bottom: -75px;
    left: 155px;
  }
}

.side_item__container__selected {
  background-color: var(--bacground-blue);
}

.side-item__avatar {
  width: 50px;
  height: 50px;
  background-color: var(--background-primary);
  border-radius: 50px;
}

.side-item__message-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  margin-left: 10px;
}

.side-item__name {
  width: 193px;
  height: 13px;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
}

.side-item__preview {
  width: 193px;
  height: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  color: var(--text-secondary-light);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-item__counter-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.side-item__time {
  color: var(--text-secondary-light);
  width: 25px;
  height: 13px;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
}

.side-item__counter {
  font-size: 11px;
  color: var(--main-white);
  background-color: var(--main-blue);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: 12px;
  text-align: center;
  padding-top: 3px;
}
