<div class="side-item__container">
    <div class="side-item__avatar">
    </div>
    <div class="side-item__message-container" >
        <div class="side-item__name">
            {{name}}
        </div>
        <div class="side-item__preview">
            {{preview}}
        </div>
    </div>
    <div class="side-item__counter-container">
        <div class="side-item__time">
            {{time}}
        </div>
        <div class="side-item__counter">
            {{counter}}
        </div>
    </div>
</div>