<div class="side__container">
    <div class="side__search">
        <span class="side__profile">Профиль ></span>
        <input class="side-search__input" placeholder="Поиск"/>
    </div>

    {{#each (chatSideItems)}}
        {{>SiderItem}}
    {{/each}}
</div>