<div class="side__container {{#if hidden}}side__container__hidden{{/if}}">
    {{#unless hidden }}
        <div class="side__search">
            <span class="side__profile">Профиль ></span>
            <input class="side-search__input" name="search" placeholder="Поиск"/>
        </div>

        {{#each (chatSideItems)}}
            {{>SiderItem}}
        {{/each}}
    {{/unless}}

    {{#if hidden}}
        <object class="side__hidden_button" data="./src/assets/icons/arrow_left.svg"  width="28" height="28"></object>
    {{/if}}
</div>