<div class="user_page_input__wrapper {{outerClasses}}">
  <span class="user_page_input__label" for="{{title}}">
    {{label}}
  </span>
    <span class="user_page_input__field">{{value}}</span>
</div>