.chat-card {
  color: var(--text-color-dark);
  width: 380px;
  padding: 11px;
  margin-top: 30px;
  border-radius: 15px;
  font-size: 12px;
  line-height: 15px;
  position: relative;
}

.chat-card__sent {
  background-color: var(--bacground-blue);
  margin-left: auto;
  border-bottom-right-radius: 0;
}

.chat-card__received {
  border-top-left-radius: 0;
  background-color: #F8F8F8;
  margin-right: auto
}

.chat-card__tick {
  position: absolute;
  bottom: 11px;
  right: 35px;
}

.chat-card__time {
  font-size: 9px;
  line-height: 9px;
  color: var(--text-secondary-light);
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.chat-card__time__sent {
  color: var(--main-blue)
}

.chat-card__time__seen {
  font-size: 9px;
  line-height: 9px;
}