.user_page_container {
    height: 100vh;
    display: flex;
}

.user_page_form {
    margin-block-start: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 510px;
    margin-inline: auto;
}
