<div class="errorContainer">
    <div class="wrapper">
        <p class="error">{{code}}</p>
        <p class="message">{{message}}</p>
        <a href="#" class="link">Назад к чатам</a>
    </div>
</div>