.errorContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  height: 225px;
  margin-inline: auto;
  margin-top: 20vh;
  padding: 50px;
  padding-top: 10px;
}

.error {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  margin: auto;
}

.message {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 100px;
}

.link {
  font-size: 11px;
  line-height: 11px;
  font-weight: 500;
  color: #3369f3;
}
